{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="image-container">
	<img src="{% static 'ก-ฮ.jpg' %}" alt="ก-ฮ" onclick="window.location.href='{% url 'cons' %}'">
	<img src="{% static 'สระ.jpg' %}" alt="vowel" onclick="window.location.href='{% url 'vowel' %}'">
	<img src="{% static 'วรรณ.jpg' %}" alt="tone" onclick="window.location.href='{% url 'tone' %}'">
    <img src="{% static 'pronoun.jpg' %}" alt="คำสรรพนาม" onclick="window.location.href='{% url 'pronoun' %}'">
    <img src="{% static 'verb.jpg' %}" alt="คำกริยา" onclick="window.location.href='{% url 'verb' %}'">
    <img src="{% static 'emotional.jpg' %}" alt="ความรู้สึก" onclick="window.location.href='{% url 'emotional' %}'">
    <img src="{% static 'most.jpg' %}" alt="คำที่ใช้บ่อย" onclick="window.location.href='{% url 'most' %}'">
    <img src="{% static 'สถานที่.png' %}" alt="สถานที่" onclick="window.location.href='{% url 'place' %}'">
    <img src="{% static 'ครอบครัว.png' %}" alt="ครอบครัว" onclick="window.location.href='{% url 'family' %}'">
</div>
{% endblock %}
